body{
  overflow: hidden;
}
main{
  background-color: #fef3c7;
opacity: 0.8;
background-size: 40px 40px;
background-image: repeating-linear-gradient(45deg, #fff8dc 0, #fff8dc 4px, #fef3c7 0, #fef3c7 50%);
}
.glass{
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}