body{
  overflow: hidden;
}
main{
  background-color: #000000;
opacity: 1;
background-image:  radial-gradient(#2c4e39 2px, transparent 2px), radial-gradient(#2c4e39 2px, #000000 2px);
background-size: 120px 120px;
background-position: 0 0,60px 60px;
}
.glass{
  background: rgba( 0, 0, 0, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border: 1px solid rgba( 0, 0, 0, 0.18 );
}